<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                </a>
            </li>
            <li class="nav-title">Lucros</li>
            <li class="nav-item">
                <a class="nav-link" href="/ganhos">
                    <i class="nav-icon icon-chart"></i> Ganhos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saldo">
                    <i class="nav-icon icon-wallet"></i> Saldo
                </a>
            </li>
            <li class="nav-title">Despesas</li>
            <li class="nav-item">
                <a class="nav-link" href="/gastos">
                    <i class="nav-icon icon-credit-card"></i> Gastos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contas">
                    <i class="nav-icon icon-envelope-open"></i> Contas
                </a>
            </li>
            
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="/login" target="_top">
                       <i class="nav-icon icon-star"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register" target="_top">
                       <i class="nav-icon icon-star"></i> Register
                    </a>
                </li>
            </ul>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>